<div class="banner video-banner">
  <%= video_tag 'Cheer-Up.mp4', autoplay: :autoplay, loop: :loop, mute: :mute, poster: "Cheer-Up.jpg" %>
  <div class="banner-content video-banner-content">
    <h1>Open Minder</h1>
    <h4>New musical horizons</h4>
  </div>
</div>

<!-- <p>Découvrez tous les clichés musicaux</p>
<% @opinions.each do |opinion| %>
  <p><%= opinion.name %></p>
<% end %> -->

<p>@random_opinions</p>
<% @random_opinions.each do |opinion| %>
 <p><%= opinion.name %></p>
<% end %>

<hr>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
      <div class="card-description">
        <h2>Le Wagon Shanghai</h2>
        <p>Very cool city, the best</p>
      </div>
      <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
      <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
      <div class="card-description">
        <h2>Le Wagon Shanghai</h2>
        <p>Very cool city, the best</p>
      </div>
      <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
      <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
      <div class="card-description">
        <h2>Le Wagon Shanghai</h2>
        <p>Very cool city, the best</p>
      </div>
      <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
      <a class="card-link" href="#" ></a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
      <!-- insert <div class="card"> -->
        <%= simple_form_for @opinion_new do |f| %>
          <%= f.input :name %>
          <%= f.input :description %>
          <%= f.button :submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>
