<div class = "header-blue"></div>
<%= render 'shared/searchbar' %>

<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <div class="index-title">
        <h1 class="hereare">Here are</h1>
        <% if params[:query].present? %>
          <h1 class="underlined-title">the opinions listed as <%= params[:query] %></h1>
        <% else %>
          <h1 class="underlined-title">All the opinions we have</h1>
        <% end %>
      </div>

    </div>
  </div>
</div>

<% if  %>
  <%= render 'shared/searchbar_error' %>
<% else %>
  <%= render 'shared/opinions-cards',
  opinions: @opinions %>
<% end %>


<% if user_signed_in? %>
  <button type="button" class="button-small add-track-button" data-toggle="modal" data-target="#add-an-opinion">
    add an opinion
  </button>

  <%= render 'shared/add_an_opinion_modale'%>



<% end %>
