<h1>This is the opinion's index</h1>


<div class="container">
  <div class="row">
    <% @opinions.each do |opinion| %>

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">


        <%= link_to opinion_path(opinion) do %>

          <div class="cards">
        <!-- ---------- cards V2 ---------- -->
            <div class="my-2 mx-auto p-relative bg-white shadow-1 blue-hover" style="width: 360px; height: 400px; overflow: hidden; border-radius: 10px;">

              <img src="<%= opinion.main_genre.photo %>" alt="Genre photo" style=" border-radius: 10px 10px 0px 0px;"
                  class="d-block w-full">

              <div class="px-2 py-2">
                <div class="genres">
                  <p class="main-genre-button">
                    <%= opinion.main_genre.name.capitalize%>
                  </p>

                  <p class="secondary-genre-button">
                    <%= opinion.secondary_genre.name.capitalize%>
                  </p>
                </div>

                <p class="ff-serif font-weight-normal text-black card-heading mt-0 mb-1" style="line-height: 1.25;">
                  <%= opinion.name %>
                </p>

              </div>

              <a href="#0" class="d-inline-block font-weight-medium text-center styled-link">
                Read More
              </a>

            </div>
    <!-- <----------------------------------------->
          </div>
        <% end %>
      </div>

    <% end %>
  </div>
</div>
