<<div class="banner video-banner">
  <%= video_tag 'Cheer-Up.mp4', autoplay: :autoplay, loop: :loop, mute: :mute, poster: "Cheer-Up.jpg" %>
  <div class="banner-content video-banner-content">
    <h1>Open Minder</h1>
    <h4>New musical horizons</h4>
  </div>
</div>

<div class="wrapper">
  <div class="container main-info">
    <div class="row">
      <div class="card main-title">
        <h3>Pourquoi Open Minder</h3>
      </div>
    </div>
    <div class="container openminded-icons">
      <div class="row">
        <div class="col-xs-6 openminded-icons-infobox">
          <div class="icon-information">
            <%= image_tag"compact-disc.png"%>
          </div>
          <div class="text-information">
            <h4>ECOUTEZ</h4>
            <p>I can't do that as Bruce Wayne... as a man. I'm flesh and blood. I can be ignored, destroyed. But as a symbol, I can be incorruptible, I can be everlasting.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 openminded-icons-infobox">
          <div class="icon-information">
            <%= image_tag"idea.png"%>
          </div>
          <div class="text-information">
            <h4>DÉCOUVREZ</h4>
            <p>I can't do that as Bruce Wayne... as a man. I'm flesh and blood. I can be ignored, destroyed. But as a symbol, I can be incorruptible, I can be everlasting.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 openminded-icons-infobox">
          <div class="icon-information">
            <%= image_tag"share.png"%>
          </div>
          <div class="text-information">
            <h4>PARTAGEZ</h4>
            <p>I can't do that as Bruce Wayne... as a man. I'm flesh and blood. I can be ignored, destroyed. But as a symbol, I can be incorruptible, I can be everlasting.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="container container-opinions">
  <div class="row">
    <div class="card secondary-title">
      <h3>Découvrez quelques clichés musicaux</h3>
    </div>
  </div>
  <div class="row">
      <!-- insert <div class="card"> -->
        <% @random_opinions.each do |opinion| %>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <div class="card opinion-card-random" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<% opinion.main_genre.photo %>);">
          <div class="card-category"><%= opinion.main_genre %></div>
          <div class="card-description">
            <p>Here is an opinion</p>
            <p><%= opinion.name %></p>
          </div>
          <a class="card-link" href="#" ></a>
          </div>
        </div>
        <% end %>
  </div>
</div>


<div class="container container-form">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 ">

      <div class="form-opinion">
        <h3>Ajoutez vos clichés musicaux!</h3>
        <%= simple_form_for @opinion_new do |f| %>
          <%= f.input :name, placeholder: "Donnez un titre à votre cliché" %>
          <%= f.input :description, placeholder: "Décrivez le cliché" %>
          <!-- <%= f.association :genres, as: :check_boxes %> -->

          <fieldset class="form-group">
            <legend class="col-form-label pt-0">Main genre</legend>
            <input type="hidden" name="opinion[genre_ids][]" value="" />
            <div class="category-choices">
              <% Genre.all.each do |genre| %>
                <input type="checkbox" class="hidden" value="<%= genre.id %>" name="post[genre_ids][]" id="post_genre_ids_<%= genre.id %>">
                <label class="category-choice" for="post_genre_ids_<%= genre.id %>">
                  <%= genre.name %>
                  <i class="fa fa-music"></i>
                </label>
              <% end %>
          </fieldset>
          <%= f.button :submit, class: "button" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
