<div class="opinion-main-content" onload="initElement();">
  <div class="container" id="opinionShow" data-opinion-id=<%= @opinion.id %> >

    <!-- 1 - Opinion Description  -->
    <div class="opinion-banner">
      <div class="opinion-description-quote">
        <div class="quote">
          <i class="fas fa-quote-left"></i>
        </div>
        <h1><%= @opinion.name %></h1>
        <div class="quote-right">
          <i class="fas fa-quote-right"></i>
        </div>
        <div class="admin-update-button">
          <% if current_user %>
            <% if current_user.admin == true %>
              <h4 class="green-button">Update</h4>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="opinion-description">
        <p><%= @opinion.description %></p>
        <h6><a href="">see related opinions</a></h6>
      </div>

      <% if @opinion.main_genre != nil %>
        <div class="opinion-genres">
          <button class="button-small">
            <%= @opinion.main_genre.name %>
          </button>
          <button class="button-small-light">
            <%= @opinion.secondary_genre.name %>
          </button>
        </div>
      <% end %>


    </div>
    <!-- <hr> -->
    <!-- 2- songs and player  -->
    <div class="opinion-player">
      <div class="row">
        <div class="col-xs-12 col-sm-8 opinion-tracks">
          <div class="opinion-tracks-title">
            <h2>Got the perfect track to beat this opinion ?</h2>
            <p class="button-red" data-toggle="modal" data-target="#addATrack">add a track</p>

          </div>
          <!-- List of songs linked to an opinion -->

          <div class="scrollbar hello-tracks">
            <% @tracks_desc.each do |track| %>
              <div>
                <%= render 'shared/track-upvote',
                photo:track.photo,
                song:track.name,
                upvotes: track.upvotes,
                opinion: @opinion,
                track: track,
                added:track.created_at.strftime("%B %e, %Y"),
                youtube_id: track.youtube_id
                %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 opinion-right-column">
          <div class="opinion-youtube-player">
            <div id="player" data-songs-id=<%= @youtube_ids.to_json %>></div>
          </div>
        </div>
      </div>
    </div>
    <!-- 3- player  -->
  </div> <!-- End of container  -->
</div>

<% content_for :player do %>
  <%= render 'shared/player' %>
<% end %>




<!-- Modal -->
<%= render 'shared/add_a_track_modale'%>
