<% content_for :meta_title, "#{@opinion.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @opinion.description %>
<% if @opinion.main_genre != nil %>

  <%# content_for :meta_image, image_path(current_user.genres_appreciations_desc.first[:genre].photo.  sample) %>

<% end %>

<div class = "header-blue"></div>
<div class="opinion-main-content" onload="initElement();">
  <div class="container" id="opinionShow" data-opinion-id=<%= @opinion.id %> >

    <!-- 1 - Opinion Description  -->
    <div class="opinion-banner">
      <div class="opinion-description-quote">
        <h1>
          <i class="fas fa-quote-left"></i>
          <%= @opinion.name %>
          <i class="fas fa-quote-right"></i>
        </h1>
        <div class="admin-update-button">
          <% if current_user %>
            <% if current_user.admin == true %>
              <h4 class="green-button">Update</h4>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="opinion-description">
        <p><%= @opinion.description %></p>
        <p id='relatedOpinions' value='hide/show' class="related-opinions"> See Related Opinions</p>
      </div>

      <% if @opinion.main_genre != nil %>
        <div class="opinion-genres">

          <%= link_to :controller => 'opinions', :query => @opinion.main_genre.name  do%>
            <button class="button-small"><%= @opinion.main_genre.name %></button>
          <% end %>

          <% if @opinion.secondary_genre != nil %>

            <%= link_to :controller => 'opinions', :query => @opinion.secondary_genre.name  do%>
              <button class="button-small-light"><%= @opinion.secondary_genre.name %></button>
            <% end %>

          <% end %>

        </div>
      <% end %>

<div id='relatedOpinionsCards' style="display:none">
  <% if @opinion.related_opinions.without(@opinion).empty? %>
    <div class="oups">Ooooops ! Seems like there is no opinions related to this one</div>
    <iframe src="https://giphy.com/embed/6uGhT1O4sxpi8" width="480" height="240" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
  <% else %>
    <%= render 'shared/opinions-cards',
    opinions: @opinion.related_opinions.without(@opinion) %>
  <% end %>
</div>

    </div>
    <!-- <hr> -->
    <!-- 2- songs and player  -->
    <div class="opinion-player">
      <div class="row">
        <div class="col-xs-12 col-sm-8 opinion-tracks">
          <div class="opinion-tracks-title">
            <h2>Here are the tracks that have been nicely proposed by our community to crush your vision of music</h2>
          </div>
          <!-- List of songs linked to an opinion -->

          <div class="scrollbar hello-tracks">
            <% @tracks_desc.each do |track| %>

                <%= render 'shared/track-upvote',
                photo:track.photo,
                song:track.name,
                upvotes: track.upvotes,
                opinion: @opinion,
                track: track,
                added:track.created_at.strftime("%B %e, %Y"),
                youtube_id: track.youtube_id
                %>

            <% end %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 opinion-right-column">
          <div class="opinion-youtube-player">
            <div id="player" data-songs-id=<%= @youtube_ids.to_json %>></div>
          </div>
          <p class="beat-button-title">Got the perfect track to beat this cliché ?</p>
          <p class="button-red beat-button" data-toggle="modal" data-target="#addATrack">add a track</p>
        </div>
      </div>
    </div>
    <!-- 3- player  -->
  </div> <!-- End of container  -->
</div>

<% content_for :player do %>
  <%= render 'shared/player' %>
<% end %>




<!-- Modal -->
<%= render 'shared/add_a_track_modale'%>
