<div class="opinion-main-content" onload="initElement();">
  <div class="container" id="opinionShow" data-opinion-id=<%= @opinion.id %> >

    <!-- 1 - Opinion Description  -->
    <div class="opinion-banner">
      <div class="opinion-description-quote">
        <div class="quote">
          <i class="fas fa-quote-left"></i>
        </div>
        <h1><%= @opinion.name %></h1>
        <div class="quote-right">
          <i class="fas fa-quote-right"></i>
        </div>
        <div class="admin-update-button">
          <% if current_user %>
            <% if current_user.admin == true %>
              <h4 class="green-button">Update</h4>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="opinion-description">
        <p><%= @opinion.description %></p>
        <h6><a href="">see related opinions</a></h6>
      </div>

      <div class="opinion-genres">
        <button class="button">
          <%= @opinion.main_genre.name %>
        </button>
        <button class="button-small">
          <%= @opinion.secondary_genre.name %>
        </button>
      </div>
    </div>
    <hr>
    <!-- 2- songs and player  -->
    <div class="opinion-player">
      <div class="row">
        <div class="col-xs-12 col-sm-8 opinion-tracks">
          <div class="opinion-tracks-title">
            <h2>Got the perfect track to beat this opinion ?</h2>
            <p class="button-red beat-button" data-toggle="modal" data-target="#addATrack">add a track</p>

          </div>
          <!-- List of songs linked to an opinion -->

          <div class="scrollbar">
            <% @tracks_desc.each do |track| %>
              <div data-youtube-id=<%= track.youtube_id %>>
                <%= render 'shared/track-upvote',
                photo:track.photo,
                song:track.name,
                upvotes: track.upvotes,
                opinion: @opinion,
                track: track,
                added:track.created_at.strftime("%B %e, %Y"),
                youtube_id: track.youtube_id
                %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 opinion-right-column">
          <div class="opinion-youtube-player">
            <div id="player" data-songs-id=<%= @youtube_ids.to_json %>></div>
          </div>
        </div>
      </div>
    </div>





<div class="row">
  <div class="player">


  <div class="col-xs-12 col-sm-3">
    <div class="player-infos">
      <div class="player-heart">
        <i class="far fa-heart"></i>
      </div>
      <div class="player-title">
        <h1>Titre de la chanson</h1>
        <p>Nom de l'artiste</p>
      </div>
    </div>
  </div>

<div class="col-xs-12 col-sm-6">
  <div class="player-center">
    <div class="player-buttons">
      <%= image_tag('player/back_arrow.png', class:"play-arrow") %>
      <%= image_tag('player/play_arrow.png', class:"play-button") %>
      <%= image_tag('player/right_arrow.png', class:"play-arrow") %>
    </div>
    <div class="player-status">
      <%= image_tag("https://goo.gl/px4KLT") %>
    </div>
  </div>
</div>

<div class="col-xs-12 col-sm-3">
  <div class="player-share hidden-xs">
    <i class="fas fa-share-alt"></i>
  </div>
</div>

</div>


</div>

    <!-- 3- player  -->
  </div> <!-- End of container  -->
</div>
















<!-- Modal -->
<div class="modal fade" id="addATrack" tabindex="-10" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="opinion-add-track">
          <p>Add a track !</p>
          <div id="search">
          <%= form_tag api_search_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Type in a song title" %>
          <% end %>
        </div>
          <div id="results"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
