<div class="container">
  <%= render 'shared/banner',
  photo: @opinion.photo,
  author:@opinion.fake_author,
  city:@opinion.fake_city,
  name:@opinion.name %>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>
<p>if at new = true, faire péter la modale !</p>

  <div class="opinion-description">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed  eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor  reprehenderit voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt  culpa qui officia deserunt mollit anim id est laborum</p>
  </div>
  <div class="opinion-player">
    <div class="opinion-player-title">
      <h2>Still Dubious ?</h2>
      <h2>Listen to these songs to make up your mind ! </h2>
    </div>
    <div class="opinion-player-details">
      <div class="opinion-tracks">
        <% @opinion.tracks.each do |track| %>
          <%= render 'shared/track-upvote',
          photo:@opinion.photo,
          artist:"artist_name to be completed",
          song:"song to be completed",
          upvotes: track.upvotes,
          downvotes: track.downvotes,
          opinion: @opinion,
          track: track
          %>
        <% end %>
      </div>
      <div class="opinion-right-column">
        <div class="opinion-genres">
          <h1>Genres related to the Tracks !</h1>
          <% @opinion.genres_occurrences_desc.each do |k,v| %>
              <div class="opinion-genre-name"><%= k[:genre].name %></div>
          <% end %>
        </div>

        <div class="opinion-add-track">
          <p>Add a track and bring de l'eau to the moulin !</p>
          <%= simple_form_for ([@opinion, @track_new]) do |f| %>
            <%= f.input :audio_url, placeholder: "Type in a song" %>
            <%= f.button :submit, class:"btn" %>
          <% end %>
        </div>
      </div>

    </div>
 </div>


<!-- Modal -->

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add a song to your cliché !</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <%= simple_form_for ([@opinion, @track_new]) do |f| %>
            <%= f.input :audio_url, placeholder: "Type in a song" %>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= f.button :submit%>
          <% end %>
        </div>
      </div>
    </div>
  </div>





</div>
