
<div class="container">
  <%= render 'shared/banner', photo: "https://goo.gl/759bbM", author:@opinion.fake_author, city:@opinion.fake_city, name:@opinion.name %>

  <div class="opinion-description">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed  eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor  reprehenderit voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt  culpa qui officia deserunt mollit anim id est laborum</p>
  </div>
  <div class="opinion-player">
    <p>HERE IS THE BIG PLAYER</p>
  </div>

</div>

<p>@opinion.tracks</p>
<% @opinion.tracks.each do |track| %>
  <p><%= track.audio_url %> <span>[up]</span><span>[down]</span></p>
  <%= link_to 'up', opinion_upvotes_path(@opinion, track) %>
<% end %>

<p>@opinion.genres</p>
<% @opinion.genres.each do |genre| %>
  <p><%= genre.name %></p>
<% end %>

<%= simple_form_for ([@opinion, @track_new]) do |f| %>
  <%= f.input :audio_url %>
  <%= f.button :submit %>
<% end %>
