<div class="opinion-main-content" onload="initElement();>

  <div class="container" id="opinionShow" data-opinion-id=<%= @opinion.id %> >
  <%= render 'shared/banner',
  photo: @opinion.main_genre.photo.sample,
  author:@opinion.fake_author,
  city:@opinion.fake_city,
  name:@opinion.name %>


<!-- Search bar => goes on Youtube and retrieve infos.On add, add song to playlist  -->
  <div class="opinion-description">
    <p><%= @opinion.description %></p>
  </div>
  <div class="opinion-player">

<!-- List of songs linked to an opinion -->
  <div class="row">
      <div class="col-xs-12 col-sm-8 opinion-tracks">
        <div class="opinion-tracks-title">
          <p>Playlist</p>
          <h2>Recently Added</h2>
        </div>
        <% @tracks_desc.each do |track| %>
        <div data-youtube-id=<%= track.youtube_id %>>
          <%= render 'shared/track-upvote',
          photo:track.photo,
          song:track.name,
          upvotes: track.upvotes,
          opinion: @opinion,
          track: track,
          added:track.created_at.strftime("%B %e, %Y"),
          youtube_id: track.youtube_id
          %>
          </div>
        <% end %>
      </div>


      <div class="col-xs-12 col-sm-4 opinion-right-column">
        <div class="opinion-tracks-title">
          <p>Playlist</p>
          <h2>Recently Added</h2>
        </div>
        <div class="opinion-youtube-player">
          <div id="player" data-songs-id=<%= @youtube_ids.to_json %>>
          </div>
        </div>

        <div class="opinion-genres">
          <h1>Genres related to the Tracks !</h1>
          <% @opinion.genres_occurrences_desc.each do |k,v| %>
              <div class="opinion-genre-name"><%= k[:genre].name %></div>
          <% end %>
        </div>

        <div class="opinion-add-track">
          <p>Add a track !</p>
          <div id="search">
          <%= form_tag api_search_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Type in a song title" %>
          <% end %>
        </div>
        <div id="results"></div>
        </div>

      </div>
    </div>
  </div>
</div>


<!-- Modal -->

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add a song to your cliché !</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <%= simple_form_for ([@opinion, @track_new]) do |f| %>
            <%= f.input :audio_url, placeholder: "Type in a song" %>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= f.button :submit%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
