<div class="opinion-main-content" onload="initElement();">
  <div class="container" id="opinionShow" data-opinion-id=<%= @opinion.id %> >

    <!-- 1 - Banner  -->
    <%= render 'shared/banner',
    photo: @opinion.main_genre.photo.sample,
    author:@opinion.fake_author,
    city:@opinion.fake_city,
    name:@opinion.name %>

    <!-- 2 - Opinion Description  -->
    <div class="opinion-description">
      <p><%= @opinion.description %></p>
    </div>

    <!-- 3 - songs and player  -->
    <div class="opinion-player">

      <div class="row">
        <div class="col-xs-12 col-sm-8 opinion-tracks">
          <div class="opinion-tracks-title">
            <h2>Got the perfect track to beat this opinion ?</h2>
            <p data-toggle="modal" data-target="#addATrack">add a track</p>
          </div>
          <!-- List of songs linked to an opinion -->
          <% @tracks_desc.each do |track| %>
            <div data-youtube-id=<%= track.youtube_id %>>
              <%= render 'shared/track-upvote',
              photo:track.photo,
              song:track.name,
              upvotes: track.upvotes,
              opinion: @opinion,
              track: track,
              added:track.created_at.strftime("%B %e, %Y"),
              youtube_id: track.youtube_id
              %>
            </div>
          <% end %>
        </div>
        <div class="col-xs-12 col-sm-4 opinion-right-column">
          <div class="opinion-youtube-player">
            <div id="player" data-songs-id=<%= @youtube_ids.to_json %>></div>
          </div>
          <div class="opinion-genres">
            <h1>Genres related to the Tracks !</h1>
            <% @opinion.genres_occurrences_desc.each do |k,v| %>
              <div class="opinion-genre-name"><%= k[:genre].name %></div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- End of container  -->
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="addATrack" tabindex="-10" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="opinion-add-track">
          <p>Add a track !</p>
          <div id="search">
          <%= form_tag api_search_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Type in a song title" %>
          <% end %>
        </div>
          <div id="results"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
