<div class="container container-form">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">

      <div class="form-opinion">
        <h2>Forgot your password?</h2>

        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email, label: false, placeholder: "Please enter your email",
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" } %>
          </div>

          <div class="form-actions">
            <%= f.button :button, "Send me reset password instructions", class: "draw meet" %>
          </div>
        <% end %>

        <p class="a-links"><%= render "devise/shared/links" %></p>

      </div>

    </div>

  </div>

</div>
