<div class="container">
  <div class="row">
    <% opinions.each do |opinion| %>

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-">


        <%= link_to opinion_path(opinion) do %>

          <div class="cards">

            <div class="card">

              <div class="card-top">

                <div class="card-genre-photo" style="background-image: linear-gradient(115.74492221071614deg, rgba(0, 0, 0,0.6) 20.6015625%,rgba(1, 1, 1,0.6) 20.6015625%,rgba(255, 255, 255,0.4) 82.1640625%), url('<%= image_path(opinion.main_genre.photo.sample) %>');">
                </div>

                <p class="card-heading">
                  <%= opinion.name %>
                </p>

                <div class="genres">
                  <p class="main-genre-button">
                    <%= opinion.main_genre.name.capitalize%>
                  </p>

                  <p class="secondary-genre-button">
                    <%= opinion.secondary_genre.name.capitalize%>
                  </p>
                </div>
              </div>

              <div class="card-bottom">

                <p class="card-description">
                  <%= opinion.description[0...125] %>...
                </p>

                <%= link_to 'Discover the opinion', opinion_path(opinion), class:'styled-link' %>

              </div>
            </div>

          </div>
        <% end %>
      </div>

    <% end %>
  </div>
</div>
