<div class="container">
  <div class="row">
    <% opinions.each do |opinion| %>

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-">


        <%= link_to opinion_path(opinion) do %>

          <div class="cards">

            <div class="card">

              <div class="front">
                <div class="card-top">
                  <%= image_tag opinion.main_genre.photo.sample, alt: "genre photo", class:" card-genre-photo" %>

                  <p class="card-heading">
                    <%= opinion.name %>
                  </p>

                  <div class="genres">
                    <p class="main-genre-button">
                      <%= opinion.main_genre.name.capitalize%>
                    </p>

                    <p class="secondary-genre-button">
                      <%= opinion.secondary_genre.name.capitalize%>
                    </p>
                  </div>
                </div>

                <div class="card-bottom">

                  <p class="card-description">
                    <%= opinion.description[0...125] %>...
                  </p>

                  <a href="#0" class="styled-link" onclick="flip()">
                    Read More
                  </a>
                </div>
              </div>

              <div class="back">
                <p class="card-description">
                  <%= opinion.description[0...500] %>...
                </p>

                <a href="#0" class="styled-link" onclick="flip()">
                  Read less
                </a>
              </div>

            </div>

          </div>
        <% end %>
      </div>

    <% end %>
  </div>
</div>
