<div class="row">
  <div class="player">
    <div class="col-xs-12 col-sm-3">
      <div class="player-infos">
        <div class="player-heart">
          <i class="far fa-heart"></i>
        </div>
        <div class="player-title">
          <h1></h1>
          <p></p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="player-center">
        <div class="player-buttons">
          <div id="left-arrow">
            <%= image_tag('player/left_arrow.png', class:"left-arrow") %>
          </div>
          <div id="play-button">
            <%= image_tag('player/play_arrow.png', class:"play play-button") %>
            <%= image_tag('player/pause_arrow.png', class:"play pause-button hidden") %>
          </div>
          <div id="right-arrow">
            <%= image_tag('player/right_arrow.png', class:"right-arrow") %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3">
      <div class="player-share hidden-xs">
        <%= link_to image_tag('', class:"fas fa-share-alt"), "#" %>
      </div>
    </div>
  </div>
</div>
