<div class="track tracks-js" data-youtube-id=<%= track.youtube_id %>>


  <% if track.photo.nil? %>
    <%= image_tag "https://goo.gl/t12qoj", class:"track-image hidden-xs"%>
    <% else %>
    <%= image_tag photo, class:"track-image hidden-xs"%>
    <% end %>

  <div class='track-body'>
    <h3><%= song %></h3>
    <p>Added : <%= added %></p>
  </div>
  <ul class="list-inline track-controls hidden-sm hidden-xs">
    <li><a href=""><i class="fa fa-heart"></i></a></li>
    <li><a href=""><i class="fa fa-share"></i></a></li>
    <li><a href=""><i class="fa fa-star"></i></a></li>
  </ul>

    <div class='track-upvote'>

    <%= link_to opinion_upvote_path(opinion, track) do %>
      <i class="fas fa-caret-up" style="font-size: 18px"></i>
      <div class='track-count'><%= upvotes %></div>
      <% end %>
    </div>

</div>
