<div class="track-container">


  <div class="track tracks-js" data-youtube-id="<%= track.youtube_id %>" data-song-name="<%= song %>" data-added-date="<%= added %>">
    <% if track.photo.nil? %>
      <%= image_tag "https://goo.gl/t12qoj", class:"track-image hidden-xs"%>
    <% else %>
      <%= image_tag track.photo, class:"track-image hidden-xs"%>
    <% end %>

    <div class='track-body'>
      <h3><%= song %></h3>
      <p class='hidden-xs'>
        <strong><%= track.genre.name.upcase %> - added: <%= added %> by <%= track.creator.username %></strong>
      </p>
    </div>
    <% if current_user %>
      <% if current_user.admin == true %>
        <div class="user-admin-delete">
          <%= link_to "Delete Track", opinion_track_path(opinion, track), method: :delete, data: {confirm: "sure?"} %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div>
    <% unless track.creator.photo.nil? %>
      <%= image_tag "users/#{track.creator.photo}", class:"user-photo" %>
    <% end %>
  </div>

  <div class="kill-click">
    <%= render 'votes/heart', track: track %>
  </div>
</div>
