<div class="banner">
  <div class="landing_background" style="background-image: url(<%= asset_path 'banner.jpg' %>)">
    <div class="landing_infos">
      <div class="rotate">
        <div class="beat">
          <h1>Open Minder</h1>
        </div>
        <p>New musical horizons</p>
      </div>
      <div class="call-to-action">
        <a href="#details-page">
          <button class="button-red">Discover</button>
        </a>
      </div>
    </div>
  </div>
</div>

<div id="details-page">
  <div class="details">
    <div class="detail">
      <%= render 'shared/svg_discover' %>
      <p class="detail_info">Découvrez de nouveaux contenus musicaux de manière originale : sélectionnez un cliché auquel vous croyez, et laisser les autres vous prouver que vous aviez tort d'y croire !</p>
    </div>
    <div class="detail">
      <%= render 'shared/svg_suggest' %>
      <p class="detail_info">Participez vous aussi ! Proposez des musiques qui vont à l'encontre des opinions reçues et tentez de battre le record d'utilisateurs et utilisatrices convaincu.e.s !</p>
    </div>
    <div class="detail">
      <%= render 'shared/svg_share' %>
       <p class="detail_info">Partagez les clichés sur les réseaux sociaux et challengez vos ami.e.s en leur défiant de battre un cliché concernant un genre musical vénéré... ou de découvrir un genre détesté !</p>
    </div>
  </div>
    <div class="next-button">
      <a href="#cards">
        <button class="button-red">Lasts cards</button>
      </a>
    </div>
</div>

<div class="last-cards" id="cards">
  <h2 class="underlined-title">Last cards</h2>
  <%= render 'shared/opinions-cards', opinions: @random_opinions[0..2] %>
  <div class="details-buttons">
    <%= link_to opinions_path do  %>
      <button class="button-light-red">See more...</button>
    <% end %>
    <%= link_to new_user_session_path do  %>
      <button class="button-red">Sign up</button>
    <% end %>
  </div>
</div>
