<div class="banner">
  <div class="landing_background" style="background-image: url(<%= asset_path 'banner_3.jpg' %>)">
    <div class="landing_infos">
      <div class="rotate">
        <div class="beat">
          <h1>Open Minder</h1>
        </div>
        <p>New musical horizons</p>
      </div>
      <div class="call-to-action">
        <a href="#details">
          <button class="button-red">Discover</button>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container details" id="details">
  <div class="row">
    <div class="col-xs-4 detail">
      <%= render 'shared/svg_discover' %>
      <p class="detail_info">Découvrez de nouveaux contenus musicaux de manière originale : sélectionnez un cliché auquel vous croyez, et laisser les autres vous prouver que vous aviez tort d'y croire !</p>
    </div>
    <div class="col-xs-4 detail">
      <%= render 'shared/svg_suggest' %>
      <p class="detail_info">Participez vous aussi ! Proposez des musiques qui vont à l'encontre des opinions reçues et tentez de battre le record d'utilisateurs et utilisatrices convaincu.e.s !</p>
    </div>
    <div class="col-xs-4 detail">
      <%= render 'shared/svg_share' %>
       <p class="detail_info">Partagez les clichés sur les réseaux sociaux et challengez vos ami.e.s en leur défiant de battre un cliché concernant un genre musical vénéré... ou de découvrir un genre détesté !</p>
    </div>
  </div>
  <hr>
  <h4>Les dernières opinions ajoutées...</h4>
  <div class="row">
    <% @random_opinions[0..2].each do |opinion| %>
      <div class="col-xs-4">
        <%= render 'shared/home_card', opinion: opinion %>
      </div>
    <% end %>
  </div>
  <div class="details-buttons">
    <button class="button">See more</button>
    <button class="button">Sign in</button>
  </div>
</div>
