<% content_for :meta_title, "My profile on #{DEFAULT_META["meta_product_name"]}" %>

<%= render 'shared/logo' %>

<div class = "header-blue"></div>

<%= render "profile" %>

<div class="user-wrapper">

  <% if @tracks_added.any? %>
    <h4>Tracks you added</h4>
    <div class="row">
      <% @tracks_added[0..3].each do |track| %>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <%= render 'track_added', track: track %>
        </div>
      <% end %>
    </div>

    <% if @tracks_added.size > 4 %>
      <div class="row button-row">
        <button id="show-added-tracks" type="button" name="button" class="button-light-red">See all</button>
      </div>
      <div class="row added-tracks-hidden">
        <% @tracks_added[4..@tracks_added.size+1].each do |track| %>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <%= render 'track_added', track: track %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% else %>

    <h4>You haven't added any tracks yet! If you contribute, they will appear here...</h4>
  <% end %>



  <div class = "blue-profile"></div>
  <hr>

  <% if @votes.any? %>
    <h4>Tracks you approved</h4>
    <div class="row">
      <% @votes[0..3].each do |vote| %>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <%= render 'track_voted', track: vote.track %>
        </div>
      <% end %>
    </div>

    <% if @votes.size > 4 %>
      <div class="row button-row">
        <button id="show-voted-tracks" type="button" name="button" class="button-light-red">See all</button>
      </div>
      <div class="row voted-tracks-hidden">
        <% @votes[4..@votes.size+1].each do |vote| %>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <%= render 'track_voted', track: vote.track %>
          </div>
        <% end %>
      </div>
    <% end %>

  <% else %>
    <h4>Looks like you haven't approved of any tracks, if you do, they will appear here...</h4>
  <% end %>

  <div class = "blue-profile"></div>
  <hr>
  <div class="opinions-to-display">
    <% if @favorite_genre_match %>
      <h4>From your likes, it seems like you are fond of <span class="underlined-title"><%= @favorite_genre.name %></span>! Try to beat these opinions to help other understand it!</h4>
    <% else %>
      <h4>Here are some opinions you should discover!</h4>
    <% end %>
    <div class="opinion-cards-to-beat">
      <% @discover.each do |opinion| %>
        <%= render "shared/one_card", opinion: opinion %>
      <% end %>
    </div>
  </div>
</div>
