<% content_for :meta_title, "Profile on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_image, image_path(current_user.genres_appreciations_desc.first[:genre].photo.sample) %>

<%= render "profile" %>

<div class="wrapper">

  <% if @tracks_added.any? %>
    <h4>Tracks you added</h4>
    <div class="row">
      <% @tracks_added[0..3].each do |track| %>
        <div class="col-xs-3">
          <%= render "track", track: track %>
        </div>
      <% end %>
    </div>

    <% if @tracks_added.size > 4 %>
      <div class="button-row">
        <button id="show-added-tracks" type="button" name="button" class="button-light-red">See all</button>
      </div>
      <div class="row added-tracks-hidden">
        <% @tracks_added[4..@tracks_added.size].each do |track| %>
          <div class="col-xs-3">
            <%= render "track", track: track %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <hr>

  <% if @tracks_voted.any? %>
    <h4>Tracks you never thought you'd like</h4>
    <div class="row">
      <% @tracks_voted[0..3].each do |track| %>
        <div class="col-xs-3">
          <%= render "track", track: track %>
        </div>
      <% end %>
    </div>

    <% if @tracks_voted.size > 4 %>
      <div class="button-row">
        <button id="show-voted-tracks" type="button" name="button" class="button-light-red">See all</button>
      </div>
      <div class="row voted-tracks-hidden">
        <% @tracks_voted[4..@tracks_added.size].each do |track| %>
          <div class="col-xs-3">
            <%= render "track", track: track %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <hr>

  <div class="opinions-to-discover">
    <h4>Opinions you should try to beat</h4>
    <!-- based on added tracks and votes -->

    <% appreciations = current_user.genres_appreciations_desc %>
    <% unless appreciations.nil? %>
    <!-- first favorite music genre -->
      <% favorite = appreciations.first[:genre] %>
      <!-- favorite music genre score -->
      <% favorite_score = appreciations.first[:score] %>
      <p class="infos"><%= favorite.name %></p>
      <% favorite_score %>

    <% end %>
  </div>

  <hr>


</div>
