<h4>Tracks you added</h4>

<% @tracks_added.each do |track| %>
  <div class="user-track">
    <div>
      <p>
        <%= track.name %>
        <% unless track.upvotes.zero? %>
          <span style="color: red;"> ♥ <%= track.upvotes %></span>
        <% end %>
      </p>
    </div>
    <div><%= image_tag track.photo, class: 'track-image hidden-xs' %></div>
  </div>
<% end %>

<hr>

<h4>Tracks you voted for</h4>

<% @tracks_voted.each do |track| %>
  <div class="user-track">
    <p>
      <%= track.name %>
      <% unless track.upvotes.zero? %>
        <span style="color: red;"> ♥ <%= track.upvotes %></span>
      <% end %>
    </p>
    <div><%= image_tag track.photo, class: 'track-image hidden-xs' %></div>
  </div>
<% end %>
