<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>🎼Open Minder</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body class="<%= body_class %>">
    <%= render 'shared/navbarV2' %>
    <%= render 'shared/flashes' %>

    <div class="main-content" id="page-top">
      <%= yield %>
    </div>


    <!-- modals -->
    <%#= render 'shared/add_an_opinion_modale'%>


    <!-- footer -->
    <%= render 'shared/footer' %>

    <%= javascript_pack_tag 'application' %>
    <%= javascript_include_tag 'application' %>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="https://apis.google.com/js/client.js?onload=googleApiClientReady"></script>
  </body>
</html>
